---
meta_description: top
changefreq: weekly
priority: 1
---
.cover-photos
  .philosophy
  .vision style="border-top: 1px solid black"

article.max-height-panel.philosophy.shadow
  h1.cover-heading.text-left.shadow Philosophy
  p.read.pre.text-left
    |
      「宇宙全体を最適化する」
      "Optimize The Universe"

  p.read.mini.pre.text-left
    |
      シンギュラリティを超え、経済圏が地球外
      へと拡大する世界を見据え、我々は人間を
      中心とする情報革命で宇宙全体を最適化す
      る事を企業理念としています。

div.clearfix

article.max-height-panel.vision.text-right.shadow
  h1.cover-heading Vision
  .read.pre
    | 
      「1000年成長し続ける」
      "Continue to grow over next 1000 years"

  .read.mini.pre
    |
      テクノロジーや社会の変化を超えて少なく
      とも1000年間成長し続け、人々の幸せを
      最大化する組織体を目指します。
