---
meta_description: recruit
changefreq: weekly
priority: 1
---
h1.cover-heading Recruit

h2.text-left Engineer
p.pre.text-left
  |
    git/github/paasの利用経験
    ios/android/fxos/windowsphone/mac/windows/linux 等での開発経験
    css3/javascript/coffeescript/less/sass 等での開発経験
    python/ruby/nodejs 等での開発経験
    c/c++/verilog/erlang/go 等での開発経験

h2.text-left Designer
p.pre.text-left
  |
    エンジニアとの開発経験
    Photoshop/Illustratorの利用経験
    git/githubの利用経験
    css3/html5についての知識
    ui/ux/ix deignについての知識
