---
meta_description: recruit
changefreq: weekly
priority: 1
---
h1.cover-heading Recruit

h2.text-left Engineer
p.pre.text-left
  | 
    git/github/herokuの利用経験
    ruby on rails 3/4 (Asset Pipeline) を利用したアプリケーションの開発経験
    ios/android/fxos/windowsphone 等でのアプリケーション開発経験
    ※実務経験でなくて個人サービスでも構いません

h2.text-left Designer
p.pre.text-left
  |
    git/githubの利用経験
    css3/html5についての知識
    ui/ux/ix deignについての知識
    エンジニアとの開発経験
